/***** Custom Properties *****/

:root {
    /* colors */
    --clr-primary: 158, 36%, 37%;
    --clr-secondary: 30, 38%, 92%;

    --clr-dark-neutral: 212, 21%, 14%;
    --clr-mid-neutral: 228, 12%, 48%;
    --clr-light-neutral: 0, 0%, 100%;

    /* font-weights */
    --fw-reg: 500;
    --fw-bold: 700;

    /* font-families */
    --ff-serif: 'Fraunces', serif;
    --ff-sans-serif: 'Montserrat', sans-serif;
}

*, *::before, *::after {
    box-sizing: border-box;
}
/* 2. Remove default margin */
* {
    margin: 0;
}
/* Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering */
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    /* My own addition, not part of the CSS reset */
    background: hsl(var(--clr-secondary));
}
/* 5. Improve media defaults */
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
/* 6. Remove built-in form typography styles */
input, button, textarea, select {
    font: inherit;
}
/* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /* 8. Create a root stacking context */
  #root, #__next {
    isolation: isolate;
}

main {
    margin: 1em;
    /* padding-inline: 1em; */
    background: hsl(var(--clr-light-neutral));
    border-radius: 10px;
}

.product__img > img{
    max-width: 100%;
    border-radius: 10px 10px 0 0;
}

.product__content {
    padding: 1em;
}

.product__title {
    font-size: 2em;
    font-family: var(--ff-serif);
    line-height: 1em;
    padding-top: .5em;
    padding-bottom: .5em;
}

.product__text {
    font-family: var(--ff-sans-serif);
    padding-top: .5em;
    padding-bottom: .5em;
    color: hsl(var(--clr-mid-neutral))
}

.flex-group {
    display: flex;;
}

.product__current-price {
    color: hsl(var(--clr-primary));
    font-size: 2em;
    font-weight: var(--fw-bold);
}

.product__original-price {
    text-decoration: line-through;
    padding: .5em;
    color: hsl(var(--clr-mid-neutral))
}

.btn {
    margin-inline: 1rem;
    width: 90%;
    padding: 1em 3em;
    border-radius: 10px;
    background: hsl(var(--clr-primary));
    color: hsl(var(--clr-light-neutral));
    font-family: var(--ff-sans-serif);
}

footer {
    text-align: center;
    margin-top: 3em;
    font-size: .75em;
}